print "Starting Wipe..."
wipe cache
wipe data
wipe dalvik
print "Installing Cyanogenmod System..."
install SDCARD_EXT/cm/CYANOGENMOD

print "Starting restore Install..."
restore SDCARD_EXT/VERSION

print "Customizing..."
cmd echo "LABEL" > SDCARD_INT/label.txt
cmd echo "VERSION" > SDCARD_INT/version.txt
cmd echo -e 'network={\n\tssid="WIFI_SSID"\n\tpsk="WIFI_PASSWORD"\n\tkey_mgmt=WPA-PSK\n\tpriority=2\n}' >> /data/misc/wifi/wpa_supplicant.conf
print "Finished."
